<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SIGE_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SIGE_Project.Properties.Settings.CadenaConexion" connectionString="Data Source=wyb.ddns.net,52090\SERV08;Initial Catalog=BD_SIGE;User ID=adminBD;Password=4dm1n;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SIGE_Project.Properties.Settings>
            <setting name="usuario" serializeAs="String">
                <value>Usuario</value>
            </setting>
            <setting name="passw" serializeAs="String">
                <value>Contraseña</value>
            </setting>
            <setting name="recordarme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xtratab" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="stilodev" serializeAs="String">
                <value>The Bezier</value>
            </setting>
            <setting name="colordev" serializeAs="String">
                <value>Plastic Space</value>
            </setting>
        </SIGE_Project.Properties.Settings>
    </userSettings>
</configuration>
